/* variables, mixins */

$almost-white: #eef3ef;
$pink:         #dc3f66;
$breakpoint:   720px;


/* fonts */

@font-face {
  font-family: 'bebas';
  font-weight: 400;
  src: url('../fonts/BebasNeue Regular.otf') format('opentype'),
       url('../fonts/BebasNeue Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'bebas';
  font-weight: 700;
  src: url('../fonts/BebasNeue Bold.otf') format('opentype'),
       url('../fonts/BebasNeue Bold.ttf') format('truetype');
}


/* body and general styles */

body {
  background: #fff url(../images/background.jpg) top center/cover no-repeat fixed;
  color: #000;
  font-family: garamond, georgia, serif;
  font-size: 16px;
  margin: 0 5px;
  padding: 20px 0;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,#000,transparent);
    background-size: 100% 350px;
    background-repeat: no-repeat;
    opacity: .6;
  }

  @media screen and (min-width: $breakpoint) {
    font-size: 18px;
  }

}

header, main {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5 {
  font-family: bebas;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}


/* header */

header {
  color: #fff;
  box-sizing: border-box;
  padding: 5px 10px;
  max-width: 960px;

  @media screen and (min-width: $breakpoint) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-justify-content: space-between;
        -ms-justify-content: space-between;
  }

  h1 {
    font-size: 48px;
    display: inline-block;
  }

  ul {
    font-family: bebas;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    margin: 8px 0 0 -40px;

    @media screen and (min-width: $breakpoint) {
      font-size: 22px;
      margin-top: 19px;
      display: inline-block;
      float: right;
    }
  }

  li {
    display: inline;

    &:not(:first-child) {
      margin-left: 20px;
    }

    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }

    &.selected a,
    a:hover {
      border-bottom: 5px solid $pink;
    }
  }
}


/* main */

main {
  max-width: 720px;
  box-sizing: border-box;
  padding: 20px;
  background-color: $almost-white;
  border: 5px solid #000;

  &::after {
    display: block;
    content: '';
    clear: both;
  }

  h2 {
    margin-bottom: 20px;
  }

  p,
  li,
  label {
    line-height: 130%;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }

  form {
    margin: 0;
  }

  section {
    @media screen and (min-width: $breakpoint) {
      width: 48%;
    }
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0 0 20px 0;
  }

  input[type=text],
  textarea {
    font-family: garamond, georgia, serif;
    font-size: 16px;
    margin: 10px 0 20px;
    box-sizing: border-box;
  }

  input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 100%;
  }

  textarea {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    background-color: transparent;
    resize: none;
    overflow: scroll-y;
  }

  button {
    font-family: bebas;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    clear: both;
    font-size: 24px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: 0;
    margin-top: 10px;
    float: right;

    &.small {
      font-size: 14px;
    }

    &[type=submit] {
      padding-top: 10px;
    }

    &:hover {
      background-color: $pink;
    }
  }

  .error {
    color: $pink;
  }

  .summary {
    margin-bottom: 40px;
  }

  #rsvpsearch {
    width: 100%;

    .guestsearch {
      max-width: 100%;
      font-size: 24px;
    }

    .error {
      display: inline-block;
    }
  }

  #rsvpresults {
    list-style-type: none;
    margin-left: -40px;

    li {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
         -moz-justify-content: space-between;
          -ms-justify-content: space-between;
      justify-content: space-between;
      padding-bottom: 10px;
      margin-bottom: 0;

      &:not(:last-child) {
        border-bottom: 1px solid #000;
      }
    }

    span {
      max-width: calc(100% - 55px);
      margin-top: 15px;
    }

    button {
      font-size: 14px;
      height: 28px;
    }
  }

  #rsvpsubmit {

    @media screen and (min-width: $breakpoint) {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
         -moz-justify-content: space-between;
          -ms-justify-content: space-between;
      justify-content: space-between;
    }

    .guests {
      .guestname {
        font-family: bebas;
        font-size: 22px;
        margin: 0 0 10px 0;
      }

      label {
        margin-left: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .small {
      font-size: 16px;
    }
  }
}
